{% extends 'base_authenticated.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="sidebar">
            <div class="list-group">
                <div class="list-group-item">
                    <img src="{{ google_info.picture }}" alt="Profile Image" class="img-thumbnail">
                    <h5>{{ google_info.name }}</h5>
                    <p>{{ google_info.email }}</p>
                </div>
                <a href="#" class="list-group-item list-group-item-action active">
                    Dashboard
                </a>
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Settings</a>
                <a href="#" class="list-group-item list-group-item-action">Help</a>
            </div>
        </div>
    </div>
    <div class="col-md-9 main-content">
        <h1>Welcome to the Dashboard</h1>
        <p>User info: {{ google_info }}</p>
    </div>
</div>
{% endblock %}